<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Edit</title>
</head>

<body>
    <header class="header">
        <%- include('partials/header.ejs') %>
    </header>



    <h2 class="products-title">Estás editando: <i>
            <%= product.name %>
        </i></h2>

    <main class="formulario">
        <!-- Si bien se envía como post, se le aclara en el action que viajará por PUT -->
        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST">
            <section class="menu">
                <h2>Edita un producto</h2>
                <div class="clase1">

                    <div class='clase1'>
                        <!-- <label for="nombre">Nombre del producto</label> -->
                        <input class="casilla" type="text" name="name" id="name" placeholder="Nombre del producto">
                        <br>
                        <div>

                            <div class='clase1'>
                                <!-- <label for="price">Precio</label> -->
                                <input class="casilla" type="number" id="price" name="price"
                                    placeholder="Precio del producto">
                            </div>

                            <div class='clase1'>
                                <!-- <label for="category">Categoria</label> -->
                                <input class="casilla" type="text" name="category" id="category"
                                    placeholder="Elije la categoría">
                                <br>

                                <div class='clase1'>
                                    <!-- <label for="category">Categoria</label> -->
                                    <input class="casilla" type="text" name="description" id="description"
                                        placeholder="Descripción">
                                    <br>
                                    <div class='clase1'>
                                        <!-- <label for="">Imagen</label> -->
                                        <input class="casilla" type="file" accept=".png,.jpg" name="imagenProducto"
                                            placeholder="Imagen del producto">
                                    </div>


                                    <button type="submit" class="boton2">Guardar producto</button>
            </section>

        </form>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>

    </footer>

</body>

</html>