<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Registro</title>
</head>

<body>
    <header class="header">
        <%- include('partials/header.ejs') %>
    </header>

    <main class="formulario">

        <form action="/users/signup" method="post" enctype="multipart/form-data">
            <section class="menu">
                <h2>Regístrate</h2>
                <div class='clase1'>
                    <!-- <label for="nombre">Nombre</label> -->
                    <input class='casilla' type="text" name="name" id="name" placeholder="Ingrese su nombre">
                    <div>
                        <br>

                        <div class='clase1'>
                            <!-- <label for="price">Apellido</label> -->
                            <input class='casilla' type="text" id="Apellido" name="Apellido"
                                placeholder="Ingrese su apellido">
                        </div>
                        <br>

                        <!-- <label for="category">E-mail</label> -->
                        <input class='casilla' type="email" name="email" id="email" placeholder="Ingrese su email">
                        <br>

                        <div class='clase1'>
                            <!-- <label for="description">Contraseña</label> -->
                            <input class='casilla' type="password" id="constrasena" name="constrasena"
                                placeholder="Ingrese su contraseña">
                        </div>
                        <br>

                        div class='clase1'>
                        <!-- <label for="">Imagen</label> -->
                        <input class="casilla" type="file" accept=".png,.jpg" name="imagenUsuario"
                            placeholder="Foto de perfil">
                    </div>

                    <button type="submit" class="boton2">Registrarse</button>
            </section>
        </form>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>

    </footer>


</body>

</html>