header {
    background-color: black;
    /* border: 2px red solid; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.logo {
    width: 20%;
    padding: 15px 0 15px 35px;
    /* color: white; */
    /* font-size: 35px;
    padding: 20px;
    padding-left: 40px; */
    /* font-weight: bold;
    text-decoration: underline; */
}

.header a {
    color: white;
    text-decoration: none;
}